    #container {
        /* background-color: #00000049; */
        display: block;
    }
    
    @import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");
    * {
        box-sizing: border-box;
    }
    
    body {
        text-align: center;
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    
     ::-webkit-scrollbar {
        display: none;
    }
    
    .nav {
        display: inline-flex;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        background-color: rgb(0, 0, 0);
        padding: 0 20px;
        border-radius: 40px;
        box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
        top: -5px;
        background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190826/pngtree-dark-abstract-background-with-overlap-layers-image_305024.jpg);
        border-radius: 50px;
    }
    
    .nav-item {
        color: #83818c;
        padding: 20px;
        text-decoration: none;
        transition: 0.3s;
        margin: 0 6px;
        z-index: 1;
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        position: relative;
    }
    
    .nav-item:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #dfe2ea;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: 0.3s;
    }
    
    .nav-item:not(.is-active):hover:before {
        opacity: 1;
        bottom: 0;
    }
    
    .nav-item:not(.is-active):hover {
        color: #333;
    }
    
    .nav-indicator {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        transition: 0.4s;
        height: 5px;
        z-index: 1;
        border-radius: 8px 8px 0 0;
    }
    
    @media (max-width: 580px) {
        .nav {
            overflow: auto;
        }
    }
    
    .button1 {
        background-image: url(https://www.webailesi.com/ds-fivem-tabanca-kodlari-4744.png);
        margin-left: 10px;
        margin-top: -20px;
        width: 1255px;
        height: 950px;
    }
    
    .button2 {
        /* transform: translateX(-250px) translateZ(-50px) rotateY(-10deg); */
        background-image: url(https://www.webailesi.com/ds-fivem-taaaruz-tufegi-kodlari-4747.png);
        margin-left: 10px;
        margin-top: -20px;
        width: 1050px;
        height: 700px;
    }
    
    .button3 {
        /* transform: translateX(-250px) translateZ(-50px) rotateY(-10deg); */
        background-image: url(https://www.webailesi.com/ds-fivem-yakin-dovus-4743.png);
        margin-left: 10px;
        margin-top: -20px;
        width: 1250px;
        height: 700px;
    }
    
    .button4 {
        /* transform: translateX(-250px) translateZ(-50px) rotateY(-10deg); */
        background-image: url(https://www.webailesi.com/ds-fivem-bomba-kodlari-4751.png);
        margin-left: 10px;
        margin-top: -20px;
        width: 1050px;
        height: 680px;
    }
    
    .button5 {
        /* transform: translateX(-250px) translateZ(-50px) rotateY(-10deg); */
        background-image: url(https://www.webailesi.com/ds-fivem-agir-silahlar-4750.png);
        margin-left: 10px;
        margin-top: -20px;
        width: 1040px;
        height: 560px;
    }
    
    #b1 {
        font-family: 'Bebas Neue', cursive;
        color: white;
        font-size: 20px;
    }
    
    #b2 {
        font-family: 'Bebas Neue', cursive;
        color: white;
        font-size: 20px;
    }
    
    #b3 {
        font-family: 'Bebas Neue', cursive;
        color: white;
        font-size: 20px;
    }
    
    #b4 {
        font-family: 'Bebas Neue', cursive;
        color: white;
        font-size: 20px;
    }
    
    #b5 {
        font-family: 'Bebas Neue', cursive;
        color: white;
        font-size: 20px;
    }
    
    .reklam {
        /* transform: translateX(-250px) translateZ(-50px) rotateY(-10deg); */
        background-image: url(https://media.discordapp.net/attachments/627114895183446016/890011932755656704/Eyes_Customers_-_Logo_tasarm_transparan.png);
        margin-left: 15px;
        margin-top: -20px;
        margin-right: -55px;
        width: 740px;
        height: 730px;
    }
